/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


nav {
	margin: auto;
	width: 876px;
	padding-top: 25px;
	
}

nav a {
	text-decoration: none;
	color: grey;
	padding: 25px;
	
}

nav .logo {
	padding-left: 650px;
	margin-top: -25px;
	width: auto;
	display: inline-block;
    line-height: 1em;
}

/* hedaer styling goes here */
header {
	line-height: 0.75;
	margin: 50px 0px 50px 100px;
	width: 876px;
}

header .title {
	font-size: 68px;
	text-align: center;
	display: inline-block;
	margin: 0px 15px;
	margin-right: 100px;
}

header .title button {
	border: 1px solid black;
	margin-top: 0px;
	padding: 6px 40px;
}

header img {
	display: inline-block;
	width: 35%;
}

.top-content {
	width: 876px;	
}
.top-text{
	display:flex;
	justify-content:space-between;
}
.top-content div {
	width: 49%;
	text-align: justify;
	padding: 10px;
}

.middle-img {
	margin: 30px 0px;
}

.bottom-content {
	width: 876px;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.bottom-text{
	display:flex;
	padding:10px 5px 10px 0px;
}
.bottom-content div {
	display: flex;
	width: 33%;
	text-align: justify;
	padding: 10px;
}

.contact {
	margin-top: 30px;
	top:30px;
}
.contactInfo{
	padding-top: 30px;
}
body { /* centers the website */
	width: 876px;
	margin: 0 auto;
}

footer {
	margin-top: 50px;
	text-align: center;
}


/* media queries go here */
/* TABLET */
@media screen and (max-width: 800px){
	html {
		margin: 0.5vh;
	}
	nav {
		margin: auto;
		width: 800px;
		display:flex;
		flex-wrap:wrap;
	}
	nav .navLinks {
		margin:auto;
		width:100%;
		display:flex;
		/* flex-direction:row; */
		justify-content:flex-start;
		padding-left:5%;
	}


/* title and button */
	header .title{
		display:flex;
		flex-direction:column;
		align-items:center;
		margin-right:30%;
	}
	header .circle {
		
			display:none;
		
	}
/* features and about */
	.top-text{
		display:flex;
		flex-direction:row;
		align-items:center;
		padding-top:20px;
		width:800px;
		border-top:1px solid black;
	}

	.top-text h2{
		display:flex;
		padding-top:35px;
		padding-bottom:15px;
	}
	
	.middle-img{
		display:flex;
		width:800px;
		padding-top:20px;
	}

/* bottom content	 */
	.bottom-text{
		display:flex;
		flex-direction:row;
		align-items:center;
		width:800px;
	}

	.bottom-text h2{
		display:flex;
		padding-top:35px;
		padding-bottom:15px;
	}

	.bottom-text .services h2{
		margin-top: -35px;
	}

	footer{
		display:flex;
		justify-content:center;
		width:800px;
	}
}





/* MOBILE */
@media screen and (max-width: 500px){
	*{
		margin:auto;
	}
	nav {
		margin: auto;
		width: 100%;
		display:flex;
		flex-direction:column-reverse;
	}
	nav .navLinks {
		width:500px;
		/* padding:20px; */
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:center;
	}

	nav a {
		border-bottom: 1px solid black;
		width:500px;
		/* padding:20px; */
		display:flex;
		flex-direction:column;
		align-items:center;
		margin-right:35%;
		
	}

/* title and button */
	/* header .title{
		width:500px;
		display:flex;
		align-items:center; */
	}
	header div {
		width:500px;
		display:flex;
		align-items:center;
	}
	header .circle {
		
			display:none;
		
	}
/* features and about */
	.top-text{
		display:flex;
		flex-direction:column;
		align-items:center;
		padding-top:20px;
		width:500px;
		border-top:1px solid black;
	}

	.top-text h2{
		display:flex;
		padding-top:35px;
		padding-bottom:15px;
	}
	
	.middle-img{
		display:flex;
		width:500px;
		padding-top:20px;
	}

/* bottom content	 */
	.bottom-text{
		display:flex;
		flex-direction:column;
		align-items:center;
		width:500px;
	}

	.bottom-text h2{
		display:flex;
		padding-top:35px;
		padding-bottom:15px;
	}

	.bottom-text .services h2{
		margin-top: -35px;
	}

	footer{
		display:flex;
		justify-content:center;
		width:500px;
	}
}


/* SERVICES CSS */
/* .services-top-content h1{
	padding-top:30px;
	font-size: 25px;
}
.services-header-img{
	padding-top:50px;
}
#services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	text-align: left;
}

#services .serviceGrid{
	width: 48%;
	background-color: lightgrey;
	border: 1px solid darkslategrey;
	padding: 15px;
	margin-bottom: 25px;
}
#services .serviceGrid a {
	display:block;
	background-color: white;
	border: solid 1px darkslategrey;
	border-radius: 5px;
	margin-top: 10px;
	width: 40%;
	padding: 7px 10px;
	text-decoration: none;
	color: black;
	font-size: 12px;
	font-style: bold;
	text-align: center;
}
#servicesFooter{
	display:flex;
	justify-content: space-between;
	border-top: 2px solid darkslategrey;
	margin-bottom: 80px;
}
#servicesFooter h3{
	padding-top: 40px;
}
#servicesFooter img{
	padding-top: 40px;
}
.services-list ul{
	list-style: square;
	list-style-position:inside;
} */

